.main {
  max-width: 500px;
  margin: auto;
}
.list {
  text-align: left;
  padding: 20px 40px;
  background-color: blueviolet;
  color: white;
  border-radius: 4px;
}
.home {
  background-color: blueviolet;
  width: fit-content;
  padding: 4px 10px;
  margin: 10px auto;
  color: white;
  border: none;
  outline: none;
  font-size: large;
}
.home:hover {
  background-color: rgb(106, 34, 173);
}
